<ul>
  <li>Name: <%= @registrant.name %> <%= @registrant.last_name %></li>
  <li>Email: <%= @registrant.email %></li>
  <li>Phone: <%= @registrant.phone %></li>
  <li>Zip Code: <%= @registrant.zip_code %></li>
  <li>Price Range: <%= @registrant.price_range %></li>
  <li>Residence Type: <%= @registrant.residence_type %></li>
  <li>Referral Channel: <%= @registrant.referral_channel %></li>
</ul>
