<div class="content-block <%= css_class(cb) %>" id="<%= css_id(cb) %>">
  <% if cb.title? %>
    <header>
      <h2><%= cb.title %></h2>
    </header>
  <% end %>

  <div class="body">
    <%= f cb.body %>
  </div>

  <% if cb.logo? %>
  <div class="logo">
      <%= logo_image_tag_with_placeholder cb.logo,
                                     size: :none,
                                     lightboxable: false,
                                     background: false %>
  </div>
  <% end %>
</div>
