<div id="press-clipping">
  <div class="press-clipping-inner">
    <% if @press_clipping.logo? %>
      <div class="press-clipping-source is-logo"
           style="background-image: url(<%= image_path @press_clipping.alternate_logo %>)">
        <%= @press_clipping.source %>
      </div>
    <% else %>
      <div class="press-clipping-source">
        <%= @press_clipping.source %>
      </div>
    <% end %>

    <div class="press-clipping-text">
      <div class="press-clipping-title">
        <%= @press_clipping.title %>
      </div>

      <div class="press-clipping-date">
        <%= @press_clipping.date.strftime('%m.%d.%y') %>
      </div>

      <% if @press_clipping.image? %>
        <div class="press-clipping-image">
          <%= link_to @press_clipping.source_url, target: '_blank' do %>
            <%= image_tag @press_clipping.image.attachment_url %>
          <% end %>
        </div>
      <% end %>

      <div class="press-clipping-blurb">
        <%= @press_clipping.blurb %>
      </div>
    </div>

    <% if @press_clipping.source_url.present? %>
      <div class="press-clipping-url">
        <%= link_to "Read more", @press_clipping.source_url, target: "_blank" %>
      </div>
    <% end %>
  </div>
</div>
