<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation, 'Retype Password' %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="field">
  <%= f.label :is_admin, label: 'Grant Admin Privileges' %>
  <%= f.check_box :is_admin %>
</div>

<div class="field">
  <%= f.label :active %>
  <%= f.check_box :active %>
</div>